
.bg{
  background-color: white;
}

.login{

  border: 0px solid black ;
  border-radius: 20px;
  margin-top:100px;
  margin-left:500px;
  background-color: blanchedalmond;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.prop-img{

  
  border-radius: 20px;
}

.prop-details{

  border: 0px solid black;
  border-radius: 20px;
 
  background-color: blanchedalmond;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
}