.navbar{

  height:80px;
  width:100%;
  background-color: rgb(255, 255, 236);
  border-radius: 10px;
  
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
 
}

.app-bg{
  background-color: rgb(227, 223, 223);
  width: 100%;
  min-height: 100vh;
}

.bg{
  background-color: white;
   min-height: 100vh;
}

.login{

  border: 3px solid ;
  border-radius: 10px;
  margin-top:100px;
  margin-left:500px;
  background: linear-gradient(135deg, #ffe0b2, #fff3e0);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.prop-img{

  height: 500px;
  border-radius: 20px;
}

.prop-details{

  border: 0px solid black;
  border-radius: 20px;
  height : 500px;
  width:500px;
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
}