.navbar{

  height:80px;
  width:100%;
  background-color: rgb(255, 255, 236);
  border-radius: 10px;
  
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
 
}

.app-bg{
  background-color: rgb(227, 223, 223);
  width: 100%;
  min-height: 100vh;
}

.bg{
  background-color: rgb(227, 223, 223);
   min-height: 100vh;
}

.login{

  border: 5px ;
  border-radius: 10px;
  margin:auto;
}

.prop-img{

  height: 500px;
  border-radius: 20px;
}

.prop-details{

  border: 1px solid black;
  border-radius: 20px;
  height : 500px;
  width:500px;
  background-color: blanchedalmond;
}